name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

    - name: Trigger Deploy Script on EC2
      run: |
        ssh -o StrictHostKeyChecking=no \
        ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} \
        "cd /home/ubuntu/god-love-fe && ./deploy.sh"
